<section><!-- seccion proyectos -->
    <div class="container text-center">
      <div class="row">
        <div class="col"><!-- seccion proyectos -->
          <h3 class="titulos" >PROYECTOS:</h3>
          <br>
          <h6 class="subtitulos" >Portfolio Argentina Programa</h6>

          <section class="bg-dark mt-4 p-3">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <app-edit-proyectos></app-edit-proyectos>
                </div>
                                    
              </div>
            </div>
          </section>

        </div>
        <div class="col"><!-- seccion hobbies -->
          <h3 class="titulos">HOBBIES:</h3>
            <ul><i class="fa-solid fa-futbol"></i></ul>
            <ul><i class="fa-sharp fa-solid fa-campground"></i></ul>
            <ul><i class="fa-solid fa-plane"></i></ul>

            <section class="bg-dark mt-4 p-3">
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <app-edit-hobbies></app-edit-hobbies>
                  </div>
                                      
                </div>
              </div>
            </section>

        </div>
      </div>
    </div>
</section>
