
    
    #colIzq{
        background-color:  rgba(54, 93, 200, 0.908);
    }
    
    #txtcolIzq{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    #txtInfo{
        text-align: left;
    }
    
    #bordeGrid{
        border: 4px solid rgba(54, 93, 200, 0.908);
    }
    
   
    .col{
        list-style-type: none;
       }
   
    
    
    .titulos{
        color: rgba(5, 30, 98, 0.908) ;
    }
    .subtitulos{
        color: rgba(54, 93, 200, 0.908) ;
    }
    
    .subtitulosIzq{
        color: rgba(54, 93, 200, 0.908) ;
        font-size: 2rem;
    }
    
    
    
    
    