<div class="modal fade" id="subtituloHAModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Subtitulo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
  
            <form>
               
  
                  <div class="mb-3">
                    <label for="exampleInputTexto" class="form-label">Editar subtitulo</label>
                    <textarea type="date" class="form-control" id="exampleInputTexto"></textarea>
                  </div>
  
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
       
        </div>
      </div>
    </div>
  </div>
