<section id="navbar">
  <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank" >
          <img id="imgAProg" src="./../../../assets/img/favicon/imagenAPROG.png" alt="logo-Argentina-Programa">
      </a>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"> <a href="https://www.facebook.com/profile.php?id=100011053629322&mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a> </li>
          <li class="list-group-item"> <a href="https://www.instagram.com/christiangil72/"><i class="fa-brands fa-instagram"></i></a> </li>
          <li class="list-group-item"> <a href="https://www.linkedin.com/in/christian-gil-baa502253/"><i class="fa-brands fa-linkedin"></i></a> </li>
          <li class="list-group-item"> <a href="https://github.com/Chgrar"><i class="fa-brands fa-github"></i></a> </li>
        </ul>
        <!-- Button trigger modal -->
        <app-acceso></app-acceso>
        <app-cierre></app-cierre>
   </div>
</nav>

</section>
<app-login></app-login>
<app-logout></app-logout>

       
    
   