<section><!-- seccion habilidades -->
   
    <div >
     <div class="row">
       <div id="txtcolIzq" class="col">
         <!-- seccion habilidades -->
         <h2 class="titulos">HABILIDADES:</h2>

         <div class="container text-center">
           <div class="row">
             <div class="col">
               <div class="pie" style="--p:90;--b:20px;--c:rgb(48, 86, 184);">90%</div>
 
             </div>

             <div id="txtInfo" class="col">
               <br>
               <p>Formación usuarios adultos y niños</p>
             </div>
           </div>
         </div>

 
         <div class="container text-center">
               <div class="row">
                 <div class="col">
                   <div class="pie" style="--p:70;--b:20px;--c:rgb(48, 86, 184);">70%</div>
     
                 </div>
   
                 <div id="txtInfo" class="col">
                   <br>
                   <p>Desarrollo Front end y Back end</p>
                   <p>Desarrollo de Software Básico</p>
                 </div>
               </div>
         </div>

         <div class="container text-center">
           <div class="row">
             <div class="col">
               <div class="pie" style="--p:50;--b:20px;--c:rgb(48, 86, 184);">50%</div>
 
             </div>

             <div id="txtInfo" class="col">
               <br>
               <p>Full Stack Web and</p>
               <p>Multiplataforma Mobile App</p>
               <p>Development</p>
             </div>
           </div>

           <section class="bg-dark mt-4 p-3">
             <div class="container text-center">
               <div class="row">
                 <div class="col">
                  <app-edit-habil></app-edit-habil>
                 </div>
                                     
               </div>
             </div>
           </section>

     </div>



       </div>
       <div class="col">
         <!-- seccion educación -->
         <h2 class="titulos" >HISTORIAL ACADÉMICO:</h2>
         <br>
         <h4 class="subtitulos">Buenos Aires Ciudad, Programa "Codo a codo 4.0"</h4>
         <h6 class="subtitulos">Programador Full Stack Python | 2022</h6>

         <br>

         <h4 class="subtitulos">Instituto F. Makaroff, Universidad de Lomas de Zamora</h4>
         <h6 class="subtitulos">Técnico en protesis dental |2002</h6>

         <br>

         <h4 class="subtitulos">Universidad de Buenos Aires.</h4>
         <h6 class="subtitulos">Facultad de Medicina, hasta 2do año.</h6>

         <br>

         <h4 class="subtitulos">Escuela Normal Nac.Sup. de Profesorado Almafuerte</h4>
         <h6 class="subtitulos">Bachiller con orientación pedagógica| 1990</h6>

         <section class="bg-dark mt-4 p-3">
           <div class="container text-center">
             <div class="row">
               <div class="col">
                <app-edit-tit-hist-acad></app-edit-tit-hist-acad>
               </div>
               <div class="col">
                <app-edit-subt-hist-acad></app-edit-subt-hist-acad>
               </div>
               
             </div>
           </div>
         </section>



       </div>
      
     </div>
   </div>

 </section>

 <hr>
