
<section><!-- seccion info contacto -->
      
    <div  class="row"> 
      
      <div id="txtcolIzq" class="col">
        <h1 class="titulos">INFORMACION DE CONTACTO:</h1>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <i class="fa-solid fa-house"></i>

            </div>

            <div id="txtInfo" class="col">
              <p>{{miPortfolio.direccion}}</p>
            </div>
          </div>
        </div>

        <div id="txtcolIzq" class="container text-center">
          <div class="row">
            <div class="col">
              <i class="fa-regular fa-envelope"></i>

            </div>
            <div id="txtInfo" class="col">
              <p><a href="ldconesa@gmail.com">{{miPortfolio.mail}}</a></p>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <i class="fa-light fa-mobile-retro"></i>

            </div>
            <div id="txtInfo" class="col">
              <p>{{miPortfolio.telefono}}</p>
            </div>
          </div>
        </div>

        <div class="container text-center">
          <div class="row">
            <div class="col">
              <i class="fa-brands fa-linkedin"></i>

            </div>
            <div id="txtInfo" class="col">
              <p>{{miPortfolio.in}}</p>
            </div>
          </div>
        </div>

        <br>
        <hr>
        <br>

        <section id="txtcolIzq">
         <!-- seccion lenguajes de programación -->
        <h2 class="titulos">LENGUAJES DE PROGRAMACION:</h2>
        <br>
        
        <li *ngFor="let lenguajes of lenguajesList">
        <h6 class="subtitulosIzq">{{lenguajes.descripcion}}</h6>
        </li>

        <br>
      
       </section>

       <section class="bg-dark mt-4 p-3">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <app-edit-cont></app-edit-cont>
            </div>
            <div class="col">
              <app-edit-leng></app-edit-leng>
            </div>
            
          </div>
        </div>
      </section>

      </div> 
      
      <!-- seccion experiencia laboral -->
      <div  class="col">
        <h1 class="titulos">EXPERIENCIA LABORAL:</h1>
        <br>
        
        <li *ngFor="let trabajos of trabajoList">
          <h4 class="subtitulos">{{trabajos.puesto}}</h4>
            <h6 class="subtitulos">{{trabajos.empresa}} | {{trabajos.inicio}} - {{trabajos.fin}}</h6>
            <p>{{trabajos.descripcion}}</p> 
            
        </li>
            <br>

            <!-- <h4 class="subtitulos">Docente de cátedra</h4>
             <h6 class="subtitulos">Instituto F. Makaroff | 2001-2003</h6>
                <p>Ayudante de la materia “Prácticas de prótesis fijas y
                  removibles”, guiando y asistiendo a los alumnos en las clases
                   con modalidad práctica y grupal.
                   </p>

            <br>

            <h4 class="subtitulos">Asistente dental</h4>
             <h6 class="subtitulos">Laboratorio Dental Ismael Conti | 1999- 2001</h6>
                <p>Elaoración de prótesis removibles, placas miorrelajantes
                  composturas, rebasados, cubetas, retenedores, coronas en
                  biolón y acrílico                   
                   </p> 
                   
            <br>

            <h4 class="subtitulos">Instructor de computación</h4>
            <h6 class="subtitulos">Escuale nº1 San Justo-Instituto del Sol| 1998-2001
            </h6>
                <p>A cargo de los cursos para Adultos: Windows 3.11, ´95´98
                  Office ´95/´97, (Word, Excel, Access, Power Point). Operador
                  de Internet, Web y correo electrónico
                  </p> 
                <p>Profesor del departamento de computación, a cargo de los
                  cursos primarios de 1ro a 9no grado</p> -->
           
                  <section class="bg-dark mt-4 p-3">
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          <app-titulo-exp></app-titulo-exp>
                        </div>
                        <div class="col">
                          <app-subt-exp></app-subt-exp>
                        </div>
                        <div class="col">
                          <app-tex-exp></app-tex-exp>
                        </div>
                      </div>
                    </div>
                  </section>


      </div>

    </div>

  </section>

  <hr>