<section class="sobreMi">
    <!-- seccion sobre mi -->
    <div><!-- seccion banner -->
    <img id="fotoBanner" src="../../../assets/img/favicon/20210221_111833.jpg" alt="imagen paisaje">
    </div> 

    
<!-- seccion fotoBN -->
    <div class="container text-center">
        
        <div  id="bordeGrid" class="row">
            
          <div  id="colIzq" class="col">
            <img class="foto" src="../../../assets/img/favicon/fotoBN.jpg" alt="Imagen de Christian Gil" title="imagen de Christian Gil">
          
            <section class="bg-dark mt-4 p-3">
              <div class="container text-center">
                <div class="row">

                  <!-- Button fotoBN modal --> 
                  <div class="col">
                    <app-foto-bn></app-foto-bn>
                    </div>

                    <!-- Button banner modal -->               
                 
                  <div class="col">
                    <app-banner></app-banner>
                    </div>
                  
                    
                 </div>
              </div>
            </section>
          </div>


          <div class="col">
            <h1 class="titulos">SOBRE MI:</h1>
            <br>
            <h3 class="titulos">Christian Ariel Gil</h3>
            <h4 class="subtitulos">Programador Full Stack</h4>
            <h4 class="subtitulos">Técnico en Prótesis Dental</h4>
            <br>
            <h6 class="subtitulos">PERFIL PERSONAL:</h6>
            <p>Como Programador, desarrollo apps y páginas web. Y cuento
              con experiencia en docencia de niños y adultos en IT.
            </p>
            <p>Como Técnico en Protesis, brindo soporte a los odontologos con la generación de prótesis
            dentales desde mi propio laboratorio dental.</p> 
            
              <section class="bg-dark mt-4 p-3">
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <app-titulo-sm></app-titulo-sm>
                    </div>
                    <div class="col">
                      <app-subtitulo-sm></app-subtitulo-sm>
                    </div>
                    <div class="col">
                      <app-texto-sm></app-texto-sm>
                    </div>
                  </div>
                </div>
              </section>


          </div>
        </div>
      </div>
</section>
